*.ex~
*.dl~

*.pyc

__pycache__

resources/old
!resources/old/_.7z*

resources/TEMP/*
!resources/TEMP/README.md

/history.txt

*.webp
*.mp3
*.mkv
*.mp4
*.vtt
*.sub
*.srt

*.lnk


/resources/WPy32/settings/.cache/*

/resources/WPy32/settings/.spyder-py3/*
